<h1>Contact Us</h1>
<hr/>
<p>We would love to hear from you, let us know what you think below.</p>
<form action='/thank_you' method='get'>
  <div>
    <label>Name</label><input type='text' name='name'/>
   <label>E-mail</label><input type='text' name='email'/>
  </div>
  <div>
    <label>Message</label><input type='text' name='message'/>
  </div>
  <button>Submit</button>
</form>