<!doctype html>
<html lang='en'> 
    <head>
        <meta charset='utf-8'>
        <title>Calculator whoo!</title>
        <link rel='stylesheet' href='/style.css'/>
    </head>

    <body>
        <nav>
            <h2>Navigate</h2>
            <hr/>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about_us">about us</a></li>
                <li><a href="/contact_us">contact us</a></li>
            </ul>
        </nav>
        <div class='main_content'>
            <%= yield %>
        </div>
    </body>
</html>
