<h1>Thank You</h1>
<hr/>
<div class='acknowledge'>
  <p>
    Thanks for the feedback, we have recieved it as below:-<br/>
    <b>Name:</b> <%= @name %><br/>
    <b>E-mail:</b> <%= @email %><br/>
    <b>Message:</b> <%= @message %>
  </p>
</div>